@using SpecIFicator.Framework.Configuration
@using SpecIFicator.Framework.Configuration.DataModels
@using SpecIFicator.Framework.PluginManagement
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">
        <img src="_content/SpecIFicator.Framework/images/specificator_editor_logo.png" height="50" />
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            @{
                List<ComponentDefinition> mainComponents = DynamicConfigurationManager.GetMainComponents();

                foreach (ComponentDefinition componentDefinition in mainComponents)
                {
                    if (componentDefinition.ShowInMainMenu != null && componentDefinition.ShowInMainMenu == true)
                    {
                        try
                        {
                            Type type = PluginManager.GetType(componentDefinition.DefaultType);

                            IStringLocalizer stringLocalizer = LocalizerFactory.Create(type);

                            <li class="nav-item">
                                <a class="nav-link" href="/pluginPage/@componentDefinition.ID">@stringLocalizer[componentDefinition.TitleKey]</a>
                            </li>
                        }
                        catch { }
                    }
                }
            }
        </ul>
        
        <ul class="navbar-nav navbar-right">
            <li><UserMenu /></li>
        </ul>
        
    </div>
</nav>

