@inherits LayoutComponentBase

<PageTitle>SpecIFicator - Metadata</PageTitle>

<div id="main-panel">
    <div id="menubar">
        <NavMenu />
    </div>
    <div id="navbar">
         <MetadataNavigation />
    </div>
    <div id="main-content">
        <div id="content-panel">
            @Body
        </div>
         
    </div>
</div>


