@using MDD4All.SpecIF.DataModels
@using MDD4All.SpecIF.ViewModels.Metadata
<h3><span class="bi bi-card-text" aria-hidden="true"></span>&nbsp; Edit Property Class</h3>

<form>
  <div class="mb-3">
    <label for="id" class="form-label">ID</label>
    <input type="text" class="form-control" id="id" 
           @bind="DataContext.PropertyClassUnderEdit.PropertyClass.ID" />
  </div>
  <div class="mb-3">
    <label for="revision" class="form-label">Revision</label>
    <input type="text" class="form-control" id="revision"
           @bind="DataContext.PropertyClassUnderEdit.PropertyClass.Revision">
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title"
           @bind="DataContext.PropertyClassUnderEdit.PropertyClass.Title">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Data Type</label>
    <select class="form-select"
            @onchange="OnTypeSelectionChanged">
        @foreach(DataTypeViewModel dataTypeViewModel in DataContext.DataTypes)
        {
            <option value="@dataTypeViewModel.KeyString">@dataTypeViewModel.DisplayedName</option>
        }
    </select>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description"
           @bind="DataContext.PropertyClassUnderEdit.Description">
  </div>
  <button type="submit" class="btn btn-primary" 
          @onclick="() => DataContext.SavePropertyClassAsNewCommand.Execute(null)">Save</button>
  
   <button type="button" class="btn btn-light"
           @onclick="() => DataContext.CancelEditOperationCommand.Execute(null)">Cancel</button>
</form>
