@page "/projects"
<AddPluginStyles></AddPluginStyles>
<PageTitle>SpecIFicator</PageTitle>
<div class="p-3">
    @if(_projectBrowserType == null)
    {
        <h2>Project browser component not available!</h2>
    }
    else
    {
    <DynamicComponent Type="@_projectBrowserType"></DynamicComponent>
    }
</div>

