@inherits LayoutComponentBase

    <div class="main-layout">
        <div class="topToolbar">
            <NavMenu />
        </div>
        <div class="main-content">
            @Body
        </div>
        @*<div>Footer</div>*@
    </div>