<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/">
        <img src="images/specificator_logo.png" height="50" />
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            

            <li class="nav-item">
                <a class="nav-link" href="projects">@L["Menu.Projects"]</a>
            </li>

            @*<li class="nav-item">
                <a class="nav-link" href="logger">@L["Menu.Logger"]</a>
            </li>*@

            <li class="nav-item">
                <a class="nav-link" href="metadata">@L["Menu.Metatypes"]</a>
            </li>
        </ul>
    </div>
</nav>

