@using SpecIFicator.Framework.PluginManagement
<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                <img src="_content/SpecIFicator.Framework/images/specificator_editor_logo.png" style="margin-top:100px;" width="100%" />
            </div>
            <div class="col">
            </div>
        </div>

        <div class="row py-5">
            <div class="col">
            </div>
            <div class="col-6 text-center">
                <p class="display-2"><i class="bi bi-emoji-frown"></i></p>
                <p class="h3">@L["Label.NoPluginsFound"]</p>
                <p class="lead">@L["Text.InstallPlugins"]</p>
                <p class="text-muted">@L["Label.PluginPath"] @PluginManager.PluginPath</p>
            </div>
            <div class="col">
            </div>
        </div>
        

        <div class="row">
            <div class="col">
            </div>
            <div class="col-6 py-5 text-center">
                &copy; MDD4All.de
            </div>
            <div class="col">
            </div>

        </div>
    </div>

</div>





