@page "/metadata"
@layout MetadataLayout
<h3>SpecIF-Metadata Management</h3>

<div>
    Browse and edit the SpecIF-Metadata:
    <ul>
        <li>Resource Classes</li>
        <li>Statement Classes</li>
        <li>Property Classes</li>
        <li>Data Types</li>
    </ul>
</div>