<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="metadata">Metadata</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resourceClasses" Match="NavLinkMatch.All">
                <span class="bi bi-heptagon-fill" aria-hidden="true"></span>&nbsp; Resource Classes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="statementClasses">
                <span class="bi bi-arrow-left-right" aria-hidden="true"></span>&nbsp; Statement Classes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="propertyClasses">
                <span class="bi bi-card-text" aria-hidden="true"></span>&nbsp; Property Classes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dataTypes">
                <span class="bi bi-code-slash" aria-hidden="true"></span>&nbsp; Data Types
            </NavLink>
        </div>
    </nav>
</div>


