@using MDD4All.SpecIF.DataModels
<h3><span class="bi bi-card-text" aria-hidden="true"></span>&nbsp; Edit Property Class</h3>

<form>
  <div class="mb-3">
    <label for="id" class="form-label">ID</label>
    <input type="text" class="form-control" id="id" 
           @bind="PropertyClassViewModel.PropertyClassUnderEdit.PropertyClass.ID" />
  </div>
  <div class="mb-3">
    <label for="revision" class="form-label">Revision</label>
    <input type="text" class="form-control" id="revision"
           @bind="PropertyClassViewModel.PropertyClassUnderEdit.PropertyClass.Revision">
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title"
           @bind="PropertyClassViewModel.PropertyClassUnderEdit.PropertyClass.Title">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Data Type</label>
    <select class="form-select">
        @foreach(DataType dataType in PropertyClassViewModel.DataTypes)
        {
            <option value="@dataType.Type">@dataType.Title</option>
        }
    </select>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description"
           @bind="PropertyClassViewModel.PropertyClassUnderEdit.Description">
  </div>
  <button type="submit" class="btn btn-primary" 
          @onclick="() => PropertyClassViewModel.SavePropertyClassAsNewCommand.Execute(null)">Save</button>
  
   <button type="button" class="btn btn-light"
           @onclick="() => PropertyClassViewModel.CancelEditOperationCommand.Execute(null)">Cancel</button>
</form>
