@using MDD4All.SpecIF.ViewModels.Metadata
<h3>Edit Resource Class</h3>

<form>
    <div class="mb-3">
    <label for="id" class="form-label">ID</label>
    <input type="text" class="form-control" id="id" 
           @bind="DataContext.ResourceClassUnderEdit.ResourceClass.ID" />
  </div>
  <div class="mb-3">
    <label for="revision" class="form-label">Revision</label>
    <input type="text" class="form-control" id="revision"
           @bind="DataContext.ResourceClassUnderEdit.ResourceClass.Revision">
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title"
           @bind="DataContext.ResourceClassUnderEdit.ResourceClass.Title">
  </div>
  <div class="mb-3">
    <label for="propertyClasses" class="form-label">Property Classes</label>
    <div class="input-group">
        <select class="form-select" id="propertyClasses">
            @foreach(PropertyClassViewModel propertyClass in DataContext.PropertyClasses)
            {
                <option value="@propertyClass.KeyString">@propertyClass.PropertyClass.Title [@propertyClass.PropertyClass.Revision]</option>
            }
        </select>
        <button class="btn btn-primary">Add</button>
    </div>
    <ul class="list-group">
        @foreach(PropertyClassViewModel propertyClassViewModel in DataContext.ResourceClassUnderEdit.AssignedPropertyClasses)
            {
                <li class="list-group-item">@propertyClassViewModel.PropertyClass.Title [@propertyClassViewModel.PropertyClass.Revision]</li>
            }
    </ul>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description"
           @bind="DataContext.ResourceClassUnderEdit.Description">
  </div>
  <button type="submit" class="btn btn-primary" 
          @onclick="() => DataContext.SaveResourceClassAsNewCommand.Execute(null)">Save</button>
  
   <button type="button" class="btn btn-light"
           @onclick="() => DataContext.CancelEditOperationCommand.Execute(null)">Cancel</button>

</form>

