@page "/hierarchy/{keyString}"
<AddPluginStyles></AddPluginStyles>
<PageTitle>SpecIFicator</PageTitle>

@if (_hierarchyEditorType != null)
{
    <CascadingValue Value="@_dataContext">
        <DynamicComponent Type="@_hierarchyEditorType"></DynamicComponent>
    </CascadingValue>
}
else
{
    <h1>No matching hierarchy editor found!</h1>
}